
.Edu__center__line{
    height: 7px;
    width: 70%;
    background-color: #2196f3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.edu-page{
    width: 100%;
}
.edu-page_div1,
.edu-page_div2 {
    width: 35%; 
}

.trig-shape{
    border-bottom: 16px solid #2196f3;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

.trig-shape-reverse{
    border-top: 16px solid #2196f3;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

.mobile-ver-edu-page{
    display: none;
}
   
.laptop-ver-edu-page{
    display: block;
}


@media (max-width: 750px){
    .line-center-main{
        display: none;
    }    
    .laptop-ver-edu-page{
        display: none;
    }
    .mobile-ver-edu-page{
        display: block;
    }
}
