/* .one-coldiv1{
    border: 2px solid red;
} */
.one-col{
    /* border: 2px solid green; */
    padding: 10px;
    width: 100%;
}
/* .one-rowdiv1{
    border: 2px solid blue;

}
.one-rowdiv2{
    border: 2px solid yellow;
} */
.one-rowdiv1, .one-rowdiv2{
    width: 50%;
}
/* .one-coldiv2{
    border: 2px solid pink;

} */
.one-coldiv2, .one-coldiv1, .one-rowdiv1, .one-rowdiv2{
padding: 10px;
}